body{
font-family: "Calibri";
background-color: black;
color: white;
font-size: 12px;
}
div{
  background-color: black;
}
#one{
margin: 0px 0px 0px 600px;
}


ul{
margin:0px;
padding:0px;
list-style:none;
}

nav ul{
  float: right;
}
ul li{
margin: 0px;
padding: 0px;
align: right;
float:left;
width:100px;
height:25px;
background-color:black;
opacity:.8;
text-align: left;
font-size: 12px;
word-spacing: -1px;
line-height: 20px;
}

ul li a{
  text-decoration: none;
  color: white;
  display: block;
}

ul li a:hover{
  color: orange;
}

ul li ul li{
  display:none;
}

ul li:hover ul li{
  display: block;
}

#img4{
  margin: 10px 30px 30px 300px;


}

#img1{
  margin: -44px 120px;
  position: fixed;
}

.in{
  margin: -17px 55px;
  font-size: 14px;
}

#img1 a{
  display: block;
  color: white;
  text-decoration: none;
}

#img1 a:hover{
  color: orange;
}

#img2{
  margin: 28px 280px;
  width: 150px;
}

.in1{
  margin: -12px 40px;
  font-size: 14px;
}
#img2 a{
  display: block;
  color: white;
  text-decoration: none;
}

#img2 a:hover{
  color: orange;
}

#three{
  margin: -45px 670px;
  font-size: 14px;
  width: 60px;
  word-spacing: -3.5px;

}

#three a{

  color: white;
  text-decoration: none;
}

#three a:hover{
  color: orange;
}


div{
  background-color: black;
  margin: 0px;
  padding: 0px;
  display: block;
}

#img3,img{
  margin: 10px 10px;
}
